<?xml version="1.0"?>
<globals>
    <global id="isGradle" value="false" />
    <global id="topOut" value="." />
    <global id="projectOut" value="." />
    <global id="manifestOut" value="." />
    <global id="srcOut" value="src/${slashedPackageName(packageName)}" />
    <global id="resOut" value="res" />
    <global id="mavenUrl" value="mavenCentral" />
    <global id="buildToolsVersion" value="${buildApi}" />
    <global id="gradlePluginVersion" value="1.0.+" />
    <global id="v4SupportLibraryVersion" value="13.0.+" />
</globals>
